*.py[co]
*~
doc/build/*
dist
build
cover/
.coverage
.coverage.*
*.egg
*.egg-info
.eggs/
.stestr/
.tox/
MANIFEST
AUTHORS
ChangeLog
monasca-log-api.log
etc/monasca/*.sample

*.swp
*.iml
.DS_Store
.cache
.classpath
.idea
.project
.target/
java/debs/*
.settings/
target
test-output/
logs/
*config*.yml
db/config.yml
.venv
.vagrant

# Logs from devstack directory should not be committed
devstack/*.log
