*.py[co]
*~
doc/build/*
dist
build
cover/
.coverage.*
*.egg
*.egg-info
.eggs/
.testrepository/
.stestr/
.tox/
ChangeLog
MANIFEST
AUTHORS
monasca-log-api.log
etc/monasca/log-api.conf.sample

*.swp
*.iml
.DS_Store
.cache
.classpath
.idea
.project
.target/
java/debs/*
.settings/
target
test-output/
logs/
*config*.yml
db/config.yml
.venv

# Logs from devstack directory should not be committed
devstack/*.log
