paste
falcon>=0.1.6
gunicorn>=19.5.0
keystonemiddleware>=4.0.0,!=4.1.0
oslo.config>=3.2.0
oslo.middleware>=3.0.0
oslo.log>=1.14.0
oslo.serialization>=1.10.0
oslo.utils>=3.4.0
pastedeploy>=1.5.0
pbr>=1.6.0
monasca-common>=0.0.6
eventlet>=0.17.4,!=0.18.0
